.main-button {
  display: inline-block;
  background-color: #e77f67;
  box-shadow: 5px 5px 0px #000;
  padding: 18px 20px;
  margin-right: 0;
  transition: transform 400ms cubic-bezier(0.45, 0.82, 0.165, 1);
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}
.main-button:hover {
  transform: scale(1.08);
  opacity: 0.5;
  background-color: #c0392b;
  color: #f1f2f6;
}

.main-button.-full {
  width: 100%;
}
